.search-input{
  height:28px;
  border-radius: 10px;
}
.search-input-dropdown{
  height:28px;
  border-radius: 10px;
}
@media only screen and (min-width:421px){
  .search-input-dropdown{
    display: none;
  }
}
@media only screen and (max-width: 420px) {
  .search-input, .search-icon{
    display: none;
  }
}
.home-icon{
  transform: scale(1.5);
}
.home-icon{
  color:black;
  fill:black !important;
}
.dropdown-item li a:hover {
  background-color: gray;
  color: darkgray;
}
.searchResult{
  left:-120px;
  border-radius: 10px;
  width:400px;
  max-height: 300px;
  min-height:50px;
}
