.search-input{
  height:28px;
  border-radius: 10px;
}
.home-icon{
  transform: scale(1.5);
}
.home-icon{
  color:black;
  fill:black !important;
}
.dropdown-item li a:hover {
  background-color: gray;
  color: darkgray;
}
