<div class="mt-2 d-flex flex-column align-items-center bg-white">
  <img class="rounded-circle" width="160" height="160" src="/assets/images/face.jpg">
  <div class="mt-2">
    &#11088;&#11088;&#11088;
  </div>
  <h3 *ngIf="user!=undefined" class="mb-0">{{user.name+' '+user.surname}}</h3>
  <p class="mb-0">1200 followers</p>
  <button class="mt-2 follow-btn btn btn-info">Follow</button>
  <span class="border-top mt-3 w-100"></span>
  <p *ngIf="user!=undefined" class="mt-1 p-2 text-justify">{{user.description}}</p>
  <span class="border-top mt-0 mb-3 w-100"></span>
</div>

