<div class="d-flex justify-content-center">
  <a class="me-2 h4" routerLink="/profile/posts">Posts</a>
  <a class="ms-2 h4" routerLink="/profile/workout-programs">Workout Programs</a>
</div>
<div class="mt-3">
  <div class="d-flex flex-column rounded-3 position-relative bg-white">
    <!-- target na ovie a treba da bide /profile/profile_id/workout-programs/workout_program_id-->
    <a class="d-flex flex-column m-2 linkovi " id="selektirano">Workout program1 name</a>
    <a class="d-flex flex-column m-2 linkovi">Workout program2 name</a>
    <a class="d-flex flex-column m-2 linkovi">Workout program3 name</a>
  </div>
  <hr>
  <div class="d-flex flex-column rounded-3 position-relative mt-2  bg-white">
    <app-workout-program></app-workout-program>

  </div>
</div>
