<div class="d-flex flex-column justify-content-center ">
  <div class="d-flex justify-content-center bg-white pt-2 align-items-center mb-2 border rounded">
    <a class="me-2 h4" routerLink="/profile/{{user?.id}}/posts">Posts</a>
    <a class="ms-2 h4" routerLink="/profile/{{user?.id}}/workout-programs">Workout Programs</a>
  </div>
  <div class="mt-2">
    <div class="d-flex flex-column rounded-3 position-relative bg-white border rounded">
      <a *ngFor="let workoutProgram of workoutPrograms" class="d-flex flex-column m-2 linkovi">{{workoutProgram.name}}</a>
      <button *ngIf="user?.role=='TRAINER' && user?.id==myProfile?.id" class="btn btn-primary m-2 w-25" routerLink="/workout-programs/create">
        Create New
      </button>
    </div>
    <hr>
    <div class="d-flex flex-column rounded-3 position-relative mt-2">
      <app-workout-program [workoutProgram]="selectedWorkoutProgram"></app-workout-program>
    </div>
  </div>
</div>
