<div class="d-flex flex-column rounded-3 position-relative bg-white">
  <div>
    <!-- Name -->
    <div class="div-holders mt-2 ms-2">
      <span class="holders">WK1 Name</span>
    </div>

    <!-- Description -->
    <div class="div-holders mt-3 ms-2">
      <span class="holders">WK1 Description</span>
      <div class="m-2">
        <span>
          Ovaa programa e nameneta za zgolemuvanje na kilazata i ke se vezba toa i toa
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
          bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
        </span>
      </div>
    </div>

    <!-- TODO za generiranje na days kako ke treba da ide soodvetno so weeks-->
    <div>

    </div>

    <!-- kopcinja za edit i delete -->
    <div class="d-flex flex-row rounded-3 mt-3 ms-2 mb-2">
      <div class="d-flex ">
        <button class="btn btn-secondary">Edit</button>
      </div>
      <div class="d-flex ms-2">
        <button class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>
