<div class="d-flex flex-column rounded-3 position-relative bg-white border rounded">
  <div>
    <!-- Name -->
    <div class="div-holders mt-2 ms-2">
      <span class="holders">{{'Program Name: '+workoutProgram?.name}}</span>
    </div>

    <!-- Trainer -->
    <div class="div-holders mt-3 ms-2">
      <span class="holders">{{'Trainer: '+workoutProgram?.userTrainer?.name+' '+workoutProgram?.userTrainer?.surname}}</span>
    </div>

    <!-- Price -->
    <div class="div-holders mt-3 ms-2">
      <span class="holders">{{'Price $'+workoutProgram?.price}}</span>
    </div>

    <!-- Description -->
    <div class="div-holders mt-3 ms-2">
      <span class="holders">Description</span>
      <div class="m-3">
        <span>
          {{workoutProgram?.description}}
        </span>
      </div>
    </div>

    <!-- TODO za generiranje na days kako ke treba da ide soodvetno so weeks-->
    <div>

    </div>

    <!-- kopcinja za edit i delete -->
    <div class="d-flex flex-row rounded-3 mt-3 ms-2 mb-2">
      <div class="d-flex ">
        <button class="btn btn-secondary">Edit</button>
      </div>
      <div class="d-flex ms-2">
        <button class="btn btn-danger">Delete</button>
      </div>
      <div class="d-flex ms-2">
        <button class="btn btn-success">Buy</button>
      </div>
    </div>
  </div>
</div>
