<div class="d-flex flex-column rounded-3 position-relative bg-white border rounded">
  <div>
    <div class="div-holders mt-2 ms-2">
      <span class="holders">{{'Program Name: ' + workoutProgramAndDays?.workoutProgram?.name}}</span>
    </div>
    <div class="div-holders mt-3 ms-2">
      <span
        class="holders">{{'Trainer: ' + workoutProgramAndDays?.workoutProgram?.userTrainer?.name + ' ' + workoutProgramAndDays?.workoutProgram?.userTrainer?.surname}}</span>
    </div>
    <div class="div-holders mt-3 ms-2">
      <span class="holders">{{'Price: $' + workoutProgramAndDays?.workoutProgram?.price}}</span>
    </div>
    <div class="div-holders mt-3 ms-2">
      <span class="holders">Description:</span>
      <div class="m-3">
        <span id="desc">
          {{workoutProgramAndDays?.workoutProgram?.description}}
        </span>
      </div>
    </div>
    <div *ngIf="user?.id==myProfile?.id">
      <div *ngFor="let week of numSequence(workoutProgramAndDays?.days?.length!!/7)">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header class="panel-hover">
            <mat-panel-title>
              <h2>Week {{week}}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngFor="let day of daysOfWeek(week);let i=index;">
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header class="panel-hover">
                <mat-panel-title>
                  <h2>Day {{(week - 1) * 7 + (i + 1)}}</h2>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <h1>{{day.title}}</h1>
              <h3>{{day.description}}</h3>
              <iframe class="w-100"
                      [src]="transform(day.video)"
                      allowfullscreen></iframe>
            </mat-expansion-panel>
            <hr>
          </div>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
