<div class="d-flex flex-column justify-content-center">
  <div class="d-flex justify-content-center bg-white pt-2 align-items-center mb-3 border rounded">
    <a class="me-2 h4" routerLink="/profile/{{user?.id}}/posts">Posts</a>
    <a class="ms-2 h4" routerLink="/profile/{{user?.id}}/workout-programs">Workout Programs</a>
  </div>
  <div *ngIf="posts?.length===0" class="bg-white mb-3 border">
    <p class="text-center pt-2">You do not have any posts</p>
  </div>
  <div *ngFor="let post of posts">
    <app-post [post]="post"
              [myProfile]="myProfile"
              [user]="user">
    </app-post>
  </div>
</div>


