.main-container {
  width: 950px;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  .main-container{
    width:100%;
  }
}
@media only screen and (max-width: 991px) {
  .main-container{
    max-width:600px;
  }
  .side-section{
    display: none;
  }
  .dropdown-item-mobile{
    display: flex !important;
  }
}
.dropdown-item-info{
  display: none;
}

