.holders{
  font-size: 16px;
}
.div-holders{
  margin-top:20px;
  margin-bottom:20px;
}
.save-button{
  min-width: 130px !important;
  max-width: 150px !important;
}
.add-button{
  min-width: 130px !important;
  max-width: 150px !important;
}
