<div class="row">
  <div class="col col-md-1">
    <div class="d-flex align-items-center justify-content-center">
      <img class="rounded-circle" width="30" height="30" src="/assets/images/face.jpg" />
    </div>
  </div>
  <div class="col col-md-9">
    <div>
      <textarea class="form form-control holders" type="textarea" placeholder="What do you want to share with the community?"></textarea>
    </div>
  </div>
  <div class="col col-md-2">
    <div class="position-relative">
      <label class="custom-file-upload">
        <input type="file"/>
        <mat-icon class="">add_photo_alternate</mat-icon>
      </label>
    </div>
    <div>
      <button class="" >Post</button>
    </div>
  </div>
</div>
