<div class="header sticky-top">
  <div class="main-container">
    <app-header></app-header>
  </div>
</div>
<div class="main-container">
  <div class="row mt-3">
    <div class="col-md-12 col-lg-8 mx-auto" >
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-12 col-lg-4 side-section bg-white">
      <div class="d-flex justify-content-center">
        <div class="position-fixed fixed-content-side-section">
          <app-side-section></app-side-section>
        </div>
      </div>
    </div>
  </div>
</div>


