<div class="bg-white sticky-top top-0 d-flex border-bottom header w-100">
  <div class="main-container">
    <app-header></app-header>
  </div>
</div>
<div class="main-container container-fluid">
  <div class="row mt-3">
    <div class="col col-lg-8 mx-auto main-section ps-0" >
      <router-outlet></router-outlet>
    </div>
    <div class="col col-md-4 side-section">
      <div class="d-flex justify-content-center ">
        <div class="position-fixed fixed-content-side-section h-100">
          <app-side-section ></app-side-section>
        </div>
      </div>
    </div>
  </div>
</div>


