<div class="bg-white sticky-top d-flex border-bottom header w-100">
  <div class="main-container">
    <app-header></app-header>
  </div>
</div>
<div class="main-container container-fluid">
  <div class="row mt-3">
    <div class="col col-lg-8 mx-auto ps-0 pe-2 main-section" >
      <router-outlet></router-outlet>
    </div>
    <div class="col col-md-4 side-section bg-white">
      <div class="d-flex justify-content-center">
        <div class="position-fixed fixed-content-side-section">
          <app-side-section></app-side-section>
        </div>
      </div>
    </div>
  </div>
</div>


