<div class="d-flex flex-column rounded-3 position-relative">

  <div class="d-flex align-items-center justify-content-between mt-2  p-2 ">
    <div class="d-flex align-items-center">
      <img class="rounded-circle" width="30" height="30" src="/assets/images/face.jpg"/>
      <span class="ms-2">{{post?.user?.name + ' ' + post?.user?.surname}}</span>
    </div>
    <div *ngIf="post?.user?.role?.toString()=='TRAINER'">
      &#11088;&#11088;Fitness Instructor
    </div>
  </div>
  <hr class="mb-2 mt-2">
  <img class="rounded-3 mt-2 post-image" [src]="post?.image"/>
  <div class="d-flex p-2 mt-2 flex-column justify-content-between">
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <mat-icon>favorite</mat-icon>
        <p>{{post?.muscles}}</p>
      </div>
      <div>
        <p>{{post?.createdBefore}}</p>
      </div>
    </div>
    <div>
      <p>{{post?.description}}</p>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn  btn-danger">Delete</button>
  </div>
</div>

